
  

  
<mat-drawer-container class="main-container"  (swipe)="onSwipe($event)">
    
    <mat-drawer #drawer class="main-sidenav" mode="side"> 
        <div class="w-100 bg-red-400 h-60">

        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button mat-icon-button class="menu" aria-label="icon-button with menu icon" (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="ml-5">My App</span>
            <span class="menu-spacer"></span>
            <button mat-icon-button class=" favorite-icon" aria-label="icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
            </button>
           
          </mat-toolbar>
   
 

    <div class="p-2">


    <router-outlet></router-outlet>
    </div>  

</mat-drawer-content>
</mat-drawer-container>
  